<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.doublea">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33" />
    <application android:label="DoubleA.Android" android:theme="@style/MainTheme"></application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<!-- <activity android:name="MainActivity" android:exported="true">
		<intent-filter>
			<action android:name="android.intent.action.VIEW" />
			<category android:name="android.intent.category.DEFAULT" />
			<category android:name="android.intent.category.BROWSABLE" />
			<data android:scheme="com.doublea" />
			<data android:path="/oauth2redirect" />
		</intent-filter>
	</activity> -->
</manifest>
